<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488739913547-kps2rm08eojesj79javpvvsv9i7mlajs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488739913547-kps2rm08eojesj79javpvvsv9i7mlajs</string>
	<key>API_KEY</key>
	<string>AIzaSyBNh31VVjqAQyDDw7z--C57nrCg7RAFTaE</string>
	<key>GCM_SENDER_ID</key>
	<string>488739913547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-practice-b2d4b</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-practice-b2d4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488739913547:ios:2f2dc4d86601939770f2ce</string>
</dict>
</plist>